@{
    ViewData["Title"] = "Home Page";
}

@{
    //1
    string name = "Mattia";
    string cognome = "Puglisi";

    //2
    int somma(int n)
    {
        int somma=0;
        for(int i=1; i<=n; i++)
        {
            somma = somma+i;
        }
        return somma;
    }

    //3
    string frase = "nel mezzo del cammin di nostra vita";
    int count = frase.Count(a => a == 'a');

    //4
    List<int> lista = new List<int>();

    for(int i=0; i<20; i++)
    {
        Random rnd = new Random();
        lista.Add(rnd.Next(1, 90));
    }

}

<ul>
    <li>1. Dichiarare una variabile valorizzandola con il nostro nome.
        Dichiarare un'altra variabile valorizzandola con il nostro cognome.
        Stampare il nostro nome e cognome all'interno di un tag h2.
    </li>
    <h2>@name @cognome</h2>

    <li>2. Creare una funzione che stampa la somma dei numeri che vanno da 1 a n (con n passato come parametro - n incluso)
        Stampare dentro uno span il risultato.
    </li>
    <span>@somma(5)</span>

    <li>3. Contare quante volte la lettera a è presente nalla frase "nel mezzo del cammin di nostra vita" e stampare questo valore in pagina</li>
    <span>@count</span>

    <li>4. Creare una List-int- di 20 numeri interi (generati random da 1 a 90, 1 e 90 inclusi) e mostrare in pagina solo i numeri compresi tra 20 e 70</li>
    @{
        foreach(int n in lista)
        {
            if (n >= 20 && n<=70)
            {
                                <span>@n</span>
            }
        }
    }

    <li>5. Stampare in pagina la data e l'ora attuale (usando la classe DateTime) con il formato anno-mese-giorno ore:minuti:secondi</li>
   <span>@DateTime.Now;<span/>
    
    <li>6. Partendo dalla data di oggi (usando la classe DateTime) stampare in pagina 
        a. la data di 7 giorni fa</li>
    @DateTime.Now.AddDays(-7);
    
    <li>b. che giorno della settimana è oggi (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)</li>
    @DateTime.Now.DayOfWeek

    <li>c. che giorno della settimana sarà nello stesso giorno e mese di oggi ma tra un anno (il risultato dovrà essere il nome del giorno (Lunedì, Martedì, ...)</li>
    @DateTime.Now.AddYears(1).DayOfWeek
</ul>
